@* Copyright © 2015 Dmitry Sikorsky. All rights reserved. *@
@* Licensed under the Apache License, Version 2.0. See License.txt in the project root for license information. *@
<h1>Just Regular View</h1>
<p>Test these ones insted:</p>
<ul>
  <li><a href="/nonstandardlocation">view from current assembly but from non-standard location</a>;</li>
  <li><a href="/viewsasresources">view from AspNet5Views.ViewsAsResources assembly</a>;</li>
  <li><a href="/precompiledviews">view from AspNet5Views.PrecompiledViews assembly</a>.</li>
</ul>